<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div>
      <div>
        <sub
          ><em
            >Please do not reply to this email. It will not reach the intended
            recipient. If there are any issues please email
            <a href="mailto:varghese.noah@gmail.com">Noah Varghese</a></em
          ></sub
        >
      </div>
      <ul>
        <li>Name: {{.name}}</li>
        <li>Email: {{.email}}</li>
        {{ if .phone }}
        <li>Phone: {{.phone}}</li>
        {{end}} {{ if .city }}
        <li>City: {{.city}}</li>
        {{end}} {{ if .products }}
        <li>Products: {{.products}}</li>
        {{end}}
      </ul>
      <p>{{.message}}</p>
    </div>
  </body>
</html>
